---
import Layout from "../Layout/layout.astro";
import Title from "../Components/Base/Title.astro"
---
<Layout >
	<Title 
		title="Este es tu carrito tienes : 4 productos"
		subtitle="Realiza el pago de manera segura con tu TDC"
	/>
	<h3 class="subtitle">Otro</h3>
</Layout>
