---
import Layout from "../Layout/layout.astro";
import Title from "../Components/Base/Title.astro"
---
<Layout >
	<Title 
		title="Bienvenido esto es el home" 
		subtitle="Aqui encontraras los mejores productos"
	/>
	<h3 class="subtitle">Otro texto hjaghdasgjhdsg</h3>
	<button>
		boton
	</button>
</Layout>
