---
const { title, subtitle } = Astro.props;

---
<div class="header">
    <h1 class="mi-clase">{ title}</h1>
    <h3 class="subtitle"> {subtitle}</h3>
</div>

<style>
    .subtitle{
        color:red;
        margin-top: 2rem;
        background-color: white;
        height: 25px ;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
